<aside class="contact">
 <a href="https://www.linkedin.com/in/adamlawrencemiller" target="_blank"><p>&#9787 Let me write your fortune. &#9787</p></a> 
</aside>
<aside class="logo">

  
	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Home' %}
	{% endif %}

 	<a href="{{ link | prepend: site.baseurl }}" id="top">
        <img src="/assets/header.png">
	</a>  
    
</aside>
      <nav>
    <ul>
        <li>
         <a href="/about">About</a>   
        </li>
        <li>
         <a href="/tags">Archives</a>   
        </li>
        </ul>
    </nav>